.container {
  background-color: rgba($color: #000000, $alpha: 0.65);
  backdrop-filter: blur(7px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  // border-bottom: 1px solid #212121;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  padding: 0 2rem;

  // TODO: make it hamburger
  nav {
    display: inline-block;
    position: relative;
    margin: auto 0;

    ul {
      list-style-type: none;
      margin: auto;

      hr {
        display: inline-block;
        margin: auto;
        margin-right: 1.5rem;
        height: 1rem;
        vertical-align: middle;
        border-color: #888;
      }

      li {
        display: inline-block;
        vertical-align: middle;

        &:not(:last-of-type) {
          margin: auto;
          margin-right: 1.5rem;
        }

        .search-vector {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
}
