html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

$fixed-content-width: 1200px;
$dark-color: #888;
$dark-hover-color: white;

header {
  max-width: $fixed-content-width;
  width: 100%;
  margin: auto;
}

main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
}

article {
  max-width: $fixed-content-width;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

footer {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 1rem 2rem;
  backdrop-filter: contrast(0.5);
  -webkit-backdrop-filter: contrast(0.5);
}

svg {
  stroke-width: 1.5px;
  margin: auto;
}


.app-title {
  font-family: 'Voltaire', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: clamp(1rem, 1.4rem + 0.20vw, 2rem);
  color: gold;
}

// TODO: set to dark
@media (prefers-color-scheme: light) {
  html {
    // TODO: set to dark
    color-scheme: light;
  }

  body {
    color: $dark-color;
    background: black;
    font-size: clamp(0.6rem, 0.6rem + 0.20vw, 1.2rem);
    font-weight: normal;
  }

  a, button, svg {
    &:hover {
      color: $dark-hover-color;
    }
  }
}

// TODO: Update light color scheme
// @media (prefers-color-scheme: light) {
//   html {
//     color-scheme: light;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }

