# local env files
.env
.env.*

# database data
mysql-data

# node
node_modules

# yarn without zero-installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.vercel
*.log