.movie-list {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.movie {
  padding: 1em;
  background-color: rgba(15, 15, 15, 1);
  border-radius: 0.175em;

  article:first-of-type {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: auto;
  }

  @media screen and (max-width: 1200px) {
    padding: 0em;

    article:first-of-type {
      display: flex;
      flex-direction: column;
      height: 100%;

      header {
        position: absolute;
        left: 0;
        right: 0;
      }

      // match the backdrop-shadow
      background-color: rgba(15, 15, 15, 1);
    }
  }
}

.backdrop-shadow {
  position: absolute;
  background-image: linear-gradient(
    90deg,
    rgba(15, 15, 15, 0) 30%,
    rgba(15, 15, 15, 0.35) 35%,
    rgba(15, 15, 15, 1) 50%
  );
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  @media screen and (max-width: 1200px) {
    aspect-ratio: 16 / 9;
    width: 100%;
    background-image: linear-gradient(
      180deg,
      rgba(15, 15, 15, 0) 70%,
      rgba(15, 15, 15, 0.35) 85%,
      rgba(15, 15, 15, 1) 100%
    );
  }
}

.movie-details {
  z-index: 20;
  position: absolute;
  height: 100%;
  left: 40%;
  right: 0;
  bottom: 0;
  top: 0;

  display: grid;
  grid-template-columns: 1fr calc(50% * (6 / 9));
  grid-template-rows: 100%;
  gap: 1em;

  @media screen and (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    width: 100%;
    position: relative;
    left: 0;
  }
}

.movie-actions {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  @media screen and (max-width: 1200px) {
    height: 25em;
  }
}
