.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 1em 2em;
  -webkit-backdrop-filter: contrast(0.5);
  backdrop-filter: contrast(0.5);

  .main-footer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    max-width: 1200px;
    padding: 0 2rem;
    margin: auto;

    p {
      font-size: 0.75em;
      margin-block-end: 0;
    }

    h1,
    h2 {
      margin-block-start: 0;
      margin-block-end: 0;
    }

    nav {
      font-size: 0.75em;

      ul {
        padding: 0;
        list-style: none;

        li {
          padding: 0.5rem 0;
        }
      }
    }
  }

  .tmdb-attribution {
    font-size: 0.75em;
    article {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  @media screen and (max-width: 1200px) {
    padding: 1em 0.25em;

    .tmdb-attribution {
      font-size: 0.5em;
    }
  }
}
