.container {
  background-color: rgba($color: #000000, $alpha: 0.65);
  backdrop-filter: blur(7px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  // border-bottom: 1px solid #212121;
  z-index: 1000;
  // width: 100%;
  // max-width: 100vw;
  // padding: 0 2rem;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  padding: 0 2rem;

  // TODO: make it hamburger
  nav {
    display: inline-block;
    position: relative;
    margin: auto 0;
    font-size: 0.75em;

    ul {
      list-style-type: none;
      margin: auto;

      hr {
        display: inline-block;
        margin: auto;
        margin-right: 1.5em;
        height: 1em;
        vertical-align: middle;
        border-color: #888;
        border-style: solid;
        border-width: 0;
        border-right-width: 1px;
      }

      li {
        display: inline-block;
        vertical-align: middle;

        &:not(:last-of-type) {
          margin: auto;
          margin-right: 1.5em;
        }

        .search-vector {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    nav {
      display: none;
    }
  }
}
