.movie-card-dialog {
  font-size: 0.875em;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba($color: #000000, $alpha: 0.8);
  --max-header-height: auto;

  header {
    max-height: var(--max-header-height);
    background-color: rgb(15, 15, 15);
    min-height: 100%;
    min-width: 100%;
    margin: 0;

    img {
      position: static !important;
      aspect-ratio: 16 / 9;
      object-fit: contain;
      max-inline-size: 100%;
      block-size: auto;
      display: block;
      z-index: 10;
    }
  }

  @media screen and (max-width: 1200px) {
    article {
      height: fit-content;
    }

    header {
      position: absolute;
      top: 0;

      img {
        max-width: 100% !important;
        max-height: 100%;
      }
    }
  }
}
