.header-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  height: 100%;
  width: 70%;
  left: 30%;
  margin: 0;
  padding: 0.5em;
  padding-left: 10%;

  display: grid;
  grid-template-columns: 1fr 35%;
  grid-template-rows: minmax(0, auto);
  row-gap: 0.5em;
  column-gap: 0.5em;

  background-image: linear-gradient(to right, transparent, rgb(15, 15, 15) 38%);

  opacity: 0;
  transition: opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-out;

  z-index: 20;

  @media screen and (max-width: 1200px) {
    position: relative;
    grid-template-columns: 100%;
    grid-template-rows: auto minmax(25vh, 25em);
    left: 0%;
    width: 100%;
    padding: 0.75em;
    row-gap: 1em;
    background-image: linear-gradient(
      to bottom,
      transparent,
      rgb(15, 15, 15) 25%
    );
  }
}

.movie-details {
  padding: 4% 0;
  padding-left: 10%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr auto;
  row-gap: 1em;

  color: white;

  @media screen and (max-width: 1200px) {
    grid-column: 1;
    grid-row: 1;
    padding: 0;
  }
}

.movie-title-desc {
  white-space: normal;

  display: flex;
  flex-direction: column;
  align-items: left;
  grid-row: 1;
  gap: 0.5em;

  h3 {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
}

.release-date-rating {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.5em;
  width: fit-content;
  min-height: 1.25em;

  ul {
    list-style: disc;
    padding-inline-start: 0px;
    margin-block: 0;

    li {
      display: inline;
      float: left;
    }
  }
}

.movie-overview {
  overflow: hidden;
  overflow-y: auto;
  grid-row: 2;

  p {
    width: 100%;
    margin-block: 0.25em;
    margin-inline: 0;
    margin-inline-end: 0.25em;
  }

  @media screen and (max-width: 1200px) {
    margin-top: 30%;
  }
}

.movie-credits {
  grid-row: 3;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.movie-genres-label {
  grid-row: 5;
}

.movie-action-panel {
  @media screen and (max-width: 1200px) {
    grid-column: 1;
    grid-row: 2;
    height: 100%;
  }
}
