.header-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  height: 100%;
  width: 70%;
  left: 30%;
  margin: 0;
  padding: 0.5em;
  padding-left: 10%;

  display: grid;
  grid-template-columns: 1fr 35%;
  grid-template-rows: minmax(0, auto);
  row-gap: 0.5em;
  column-gap: 0.5em;

  background-image: linear-gradient(to right, transparent, rgb(15, 15, 15) 38%);

  opacity: 0;
  transition: opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-out;

  z-index: 20;

  @media screen and (max-width: 1200px) {
    position: relative;
    grid-template-columns: 100%;
    grid-template-rows: auto minmax(25vh, 25em);
    left: 0%;
    width: 100%;
    padding: 0.75em;
    row-gap: 1em;
    background-image: linear-gradient(
      to bottom,
      transparent,
      rgb(15, 15, 15) 25%
    );
  }
}

.movie-action-panel {
  @media screen and (max-width: 1200px) {
    grid-column: 1;
    grid-row: 2;
    height: 100%;
  }
}
