.button {
  font-size: 1em;
  min-height: 32px;
  min-width: 60px;
  padding: 0.5em;
  border-radius: 0.175em;
  border-style: solid;
  border-width: 0.1em;
  background-color: rgba($color: #ffffff, $alpha: 0.15);
  font-weight: bold;
  cursor: pointer;
  transition-property: border-color, color;
  transition-duration: 150ms, 150ms;
  transition-timing-function: ease-in-out, ease-in-out;
  color: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.1);
  }

  @media screen and (max-width: 1200px) {
    padding: 0.75em 1em;
  }
}

.outlined {
  &:hover {
    border-color: gold !important;
    color: gold !important;
  }
}

.large {
  padding: 0.5em 1em;
  width: 100%;
}

.icon {
  padding: 0;
  min-width: auto;
  min-height: auto;

  &:hover {
    border-color: rgba($color: #ffffff, $alpha: 0.8);
  }
}
