.label {
  width: fit-content;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  font-size: 0.75em;

  // TODO: should be defined from a context
  color: inherit;
}

.nowrap {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.outlined {
  padding: 0 0.25em;
  // TODO: should be defined from a context
  border: 0.1em solid rgba($color: #ffffff, $alpha: 0.85);
}
