$slider-ctrl-size: calc((100% * (1 / 25)));

.slider {
  width: 100%;

  [class~='slider-interface'] {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: $slider-ctrl-size 1fr $slider-ctrl-size;
    box-sizing: border-box;

    [class~='slider-ctrl'] {
      z-index: 10;
      background-color: rgba($color: #000000, $alpha: 0.6);
      cursor: pointer;
      backdrop-filter: blur(2px);
      box-sizing: border-box;

      @media screen and (max-width: 1200px) {
        display: none !important;
      }
    }

    [class~='backward-ctrl'] {
      border-radius: 0 0.175em 0.175em 0;
      grid-column: 1;
    }

    [class~='forward-ctrl'] {
      border-radius: 0.175em 0 0 0.175em;
      grid-column: 3;
    }

    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
    }
  }
}

.slide-container {
}

.title {
  padding: 0 calc($slider-ctrl-size + 0.5em);
}
