$slider-ctrl-size: calc((100% * (1 / 25)));

.slider {
  width: 100%;

  [class~='slider-interface'] {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: $slider-ctrl-size 1fr $slider-ctrl-size;
    box-sizing: border-box;

    [class~='slider-ctrl'] {
      z-index: 10;
      background-color: rgba($color: #ffffff, $alpha: 0.2);
      cursor: pointer;
      backdrop-filter: blur(2px);
      box-sizing: border-box;
    }

    [class~='backward-ctrl'] {
      border-radius: 0 2px 2px 0;
      grid-column: 1;
    }

    [class~='forward-ctrl'] {
      border-radius: 2px 0 0 2px;
      grid-column: 3;
    }
  }
}

.ctrl {
  outline: none;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.slide-container {
}
