$slider-ctrl-size: calc((100% * (1 / 25)));
$slide-padding: calc((100% * (1 / 23)));
@function get-slide-item-size($slide-size, $slide-item-padding) {
  @return calc(
    100% * (1 / $slide-size) - $slide-item-padding *
      (($slide-size + 1) / $slide-size)
  );
}

.slide {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  width: fit-content;
  padding: 0 $slide-padding;
  overflow: visible;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-padding-left: $slider-ctrl-size;
  box-sizing: content-box;
  min-width: 100%;
  margin-left: -$slide-padding;

  [class~='slide-item'] {
    display: inline;
    box-sizing: content-box;
    flex-shrink: 0;
    aspect-ratio: 16 / 9;
    padding-left: 7px;
    height: 100%;

    &:first-of-type {
      scroll-snap-stop: always;
      scroll-snap-align: start;
      padding-left: 7px;
    }

    &:last-of-type {
      scroll-snap-stop: always;
      scroll-snap-align: start;
      padding-right: 7px;
    }

    @media screen and (max-width: 1200px) {
      // TODO: Fix card rendered on server
      // aspect-ratio: 6 / 9;

      width: get-slide-item-size(3, 7px) !important;
      &:nth-of-type(n) {
        scroll-snap-stop: always !important;
        scroll-snap-align: start !important;
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 1200px) {
    scroll-padding-left: 0;
    padding: 0;
    margin-left: 0;
  }
}

.slide-s-3 {
  [class~='slide-item'] {
    width: get-slide-item-size(3, 7px);

    &:nth-of-type(3n + 4) {
      scroll-snap-stop: always;
      scroll-snap-align: start;
    }
  }
}

.slide-s-4 {
  [class~='slide-item'] {
    width: get-slide-item-size(4, 7px);

    &:nth-of-type(4n + 5) {
      scroll-snap-stop: always;
      scroll-snap-align: start;
    }
  }
}

.slide-s-5 {
  [class~='slide-item'] {
    width: get-slide-item-size(5, 7px);

    &:nth-of-type(5n + 6) {
      scroll-snap-stop: always;
      scroll-snap-align: start;
    }
  }
}
