.tabs {
  height: 100%;
  font-weight: normal;
  // font-size: clamp(1em, 1em + 100%, 4em);
  width: 100%;

  // @media screen and (max-width: 1200px) {
  //   font-size: clamp(1em, 1em + 0.25%, 4em);
  // }

  .tab-list {
    list-style: none;
    padding-inline: 0;
    margin-block: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    grid-row: 2;
    text-align: center;
    min-height: inherit;
    margin: auto;

    li {
      flex: 1 0;

      &:hover {
        background-color: rgba($color: #ffffff, $alpha: 0.1);
      }

      button,
      a {
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        width: 100%;
        height: 100%;
        color: #888;
        font-size: 0.8em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.25em;
        padding: 0 2em;
        // padding: 0.3em 2em;
        // font-weight: bold;

        &:hover {
          color: white;
        }

        &.active {
          color: white !important;
        }

        :first-child {
          font-size: 1em;
        }
      }
    }
  }

  .icon-pos-left {
    display: grid;
    gap: 0.5em;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    align-items: center;

    label {
      font-size: 1em;
    }
  }
}
