.movie-grid {
  padding: 1em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5em;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.movie-card-container {
  aspect-ratio: 16 / 9;

  @media screen and (max-width: 1200px) {
    aspect-ratio: 6 / 9;
  }
}
