$slider-ctrl-size: calc((100% * (1 / 25)));

.title {
  padding: 0 calc(4% + 0.5em);

  @media screen and (max-width: 1200px) {
    padding: 0 0.75em;
  }
}

.d-select {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.5em;

  select {
    font-size: 1.1em;
    font-weight: bolder;
  }
}
