.list {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  min-height: 100%;
  width: 100%;
  padding-bottom: 2em;

  section {
    padding: 0 0.5em;

    h4 {
      margin-block: 0.7em;
    }

    div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1em;
      padding-bottom: 0.7em;

      img {
        max-width: 15%;
        width: 15%;
        border-radius: 2px;
      }
    }
  }
}

.skeleton-item {
  max-width: 15%;
  width: 15%;
  border-radius: 2px;
  background-color: rgba($color: #ffffff, $alpha: 0.2);
  aspect-ratio: 1;
}

.available-on-container {
  position: relative;
  width: 100%;
  height: 100%;
  row-gap: 1em;
}

.credits {
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: rgba($color: #000000, $alpha: 0.8);
  padding: 0.5em;
  position: sticky;
  bottom: 0.5rem;
  font-size: 0.8em;
  z-index: 10;
  border-radius: 2px;
  backdrop-filter: blur(4px);

  span:first-child {
    width: 100%;
  }

  span:last-child {
    display: inline-flex;
    gap: 0.5em;
  }
}
