.poster {
  background-color: rgba(255, 255, 255, 0.2);
  height: 100%;
  width: 100%;
  border-radius: 2px;
  position: relative;

  img {
    object-fit: cover !important;
    border-radius: 2px;
  }

  @media screen and (max-width: 1200px) {
    background-color: transparent;

    img {
      object-fit: contain !important;
      max-height: 100% !important;
    }
  }
}

.poster-container {
  height: 100%;
  width: 100%;
  padding-bottom: 0.5rem;
}
