.poster {
  background-color: transparent;
  height: 100%;
  width: 100%;
  border-radius: 0.175em;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 1200px) {
    background-color: transparent;

    img {
      object-fit: contain !important;
      max-height: 100% !important;
    }
  }
}

.poster-container {
  height: 100%;
  width: 100%;
  padding: 0.5em 0;
  padding-bottom: 1em;
}
